*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	background: #f2f2f2;
}
.header{
	width: 100%;
	padding: 20px 0;
	background-color: #FFFFFF;
	color: #333;
	box-shadow: 2px 3px 5px #CCCCCC;
}
.header-f{
	width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo img{
	height: 40px;
}
.nav ul{
	display: flex;
}
.nav ul li{
	list-style: none;
}
.nav ul li a{
	display: inline-block;
	margin: 0 40px;
	color: #333;
	text-decoration: none;
}
.nav ul li a:hover{
	color: red;
}
.swiper {
	position: relative;
	width: 1200px;
	height: 400px;
	margin: 20px auto;
	overflow: hidden;
}

.wrap {
	position: relative;
	width: 100%;
	height: 400px;
	margin: auto;
	overflow: hidden;
}

.warp ul {
	position: absolute;
}

.wrap ul li {
	width: 100%;
	height: 100%;
}

.wrap ul li img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.wrap ol {
	position: absolute;
	right: 5%;
	bottom: 20px;
}

.wrap ol li {
	list-style: none;
	height: 10px;
	width: 10px;
	border: 1px solid #FFF;
	border-radius: 50%;
	margin-left: 12px;
	color: #959490;
	float: left;
	text-align: center;
	cursor: pointer;
	font-size: 0px;
}

.wrap ol .on {
	background: #FE6700;
}
.title-three{
	position: relative;
	width: 180px;
	margin: 60px auto 30px auto;
	padding: 0 60px;
	border-bottom: 2px solid #333;
}
.title-three h3{
	position: absolute;
	font-size: 24px;
	top: -15px;
	width: 180px;
	text-align: center;
	background: #f2f2f2;
}
.list{
	width: 1200px;
	margin: auto;
}
.list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.list ul li{
	list-style: none;
	width: 22%;
	background: #FFFFFF;
	padding: 10px;
	box-shadow: 2px 3px 5px #ccc;
	margin: 10px 0;
}
.list ul li a{
	display: block;
	width: 100%;
	text-decoration: none;
}
.list ul li img{
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.list ul li p{
	margin-top: 10px;
	font-size: 16px;
	color: #000000;
}
.cp-detail{
	width: 1200px;
	margin: 30px auto;
}
.tag-title{
	width: 1200px;
	display: flex;
	font-size: 14px;
	margin-bottom: 20px;
}
.tag-title a{
	color: #333333;
	text-decoration: none;
}
.tag-title span{
	display: inline-block;
	margin: 0 5px;
	color: #959490;
}
.cp-box-top{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: #FFFFFF;
}
.cbt-l{
	width: 300px;
	height: 300px;
}
.cbt-l img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cbt-r{
	width: 800px;
}
.cbt-r h3{
	font-size: 26px;
	color: #333333;
	margin-bottom: 30px;
}
.cbt-r p{
	font-size: 18px;
	margin-bottom: 15px;
	color: #555555;
}
.cp-box-bottom{
	margin-top: 20px;
	background: #FFFFFF;
	padding: 20px;
}
.cbb-content p{
	margin: 5px 0;
	font-size: 18px;
	line-height: 1.8;
	text-indent: 2em;
}
.cbb-content img{
	display: block;
	max-width: 100%;
	margin: 5px auto;
}
.footer{
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	padding: 20px 0;
}
.new{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1200px;
	margin: 50px auto;
}
a{
	text-decoration: none;
}
.new .new-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 47%;
	background-color: #FFFFFF;
	padding: 10px;
	margin-bottom: 20px;
}
.new .new-list .list-img{
	width: 30%;
}
.new .new-list .list-img img{
	width: 100%;
	height: 160px;
	object-fit: cover;
}
.new .new-list .list-text{
	width: 68%;
}
.new .new-list .list-text h3{
	margin-bottom: 10px;
	color: #333333;
}
.new .new-list .list-text p{
	line-height: 1.8;
	font-size: 16px;
	color: #777777;
}
.wz-detail{
	width: 1200px;
	margin: 30px auto;
}
.wzd-title{
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
}
.wzd-title h3{
	font-size: 24px;
}
.wzd-title p{
	font-size: 15px;
	color: #888888;
	margin: 20px 0;
}
.wzd-title p span{
	margin: 0 10px;
}
.wzd-text{
	padding-top: 20px;
}
.wzd-text p{
	margin: 5px 0;
	font-size: 18px;
	text-indent: 2em;
}
.wzd-text img{
	display: block;
	max-width: 100%;
	margin: 5px auto;
}
.new1 .new-list{
	width: 100%;
}
.new1 .new-list .list-img{
	width: 20%;
}
.new1 .new-list .list-text{
	width: 78%;
}
.login{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80vh;
}
.login-f{
	padding: 20px;
	width: 300px;
	background: #FFFFFF;
	box-shadow: 2px 3px 5px #CCCCCC;
	border-radius: 10px;
}
.login h3{
	letter-spacing: 3px;
	font-size: 22px;
	color: #333333;
	margin-bottom: 20px;
}
.login-box input{
	width: 95%;
	height: 35px;
	line-height: 35px;
	margin-bottom: 15px;
	padding-left: 5%;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
}
.login button{
	display: block;
	background: #3d7eff;
	width: 180px;
	height: 35px;
	border: none;
	color: #FFFFFF;
	font-size: 15px;
	border-radius: 6px;
	margin: 15px auto 10px auto;
	letter-spacing: 3px;
}
.login p{
	font-size: 12px;
	text-align: center;
	color: #999999;
}
.login p a{
	color: #3D7EFF;
	text-decoration: none;
}